
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color:black;
    scrollbar-width: 2px;
}

a{
    color:black;
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    font-size: small;
    width:93%;
    max-width: 1100px;
    margin:auto;
    
}

/*Left-Navigation*/

.left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
}

.left-nav ul{
    padding:0px 0px 3px 11px;
    display: flex;
}

.left-nav ul.nav-ul{
    flex:1;
}

.ul-btns{
    margin:12px 20px 2px 12px;
}

.ul-btns:hover{
   border-bottom: 2px black solid;
}

/*Right-Navigation*/

.right-nav{
  position: relative;
  left:51em; 
  bottom:6ex;
  
}

label:hover{
    border-bottom: 2px black solid;
}

i{
    padding: 3px;
    margin-right: 1em;
    size: 4;
}

/*Main-Body*/

.main-body{
    background: url('../images/window.jpg');
    background-repeat:no-repeat;
    background-size: 13in;
    background-position: left;
    height: 430px;
    padding-bottom: 2em;
}
.container{
    color:white;
    margin-left: 1em;
    padding-top: 6em;
}



p{
    width: 23em;
    font-size:smaller;
    padding-top: 0;
}

span{
    padding-right: 1em;
    text-decoration: none;
}
.nav-btn{
    color:black;
    background-color: white;
    width: fit-content;
    padding:13px 0px 18px 16px;
    font-family: Segoe UI Semibold;
    font-size:normal;
}


.nav-btn:hover{
    background-color: rgba(255, 255, 255, 0.844);
}

/*Main-Footer*/

.footer-imgs{
    display: inline-flex;
    padding-left: 0em;
}

.f-img{
    padding-top: 8em;
    padding-left: 7em;
    margin-right: 2em;
}
 

.footer-nav{
    padding-left: 0em;
}

.f-nav-link{
    display: inline-block;
    text-align: center;
    font-weight:600;
    font-size: large;
    width:7em;
    margin-left: 4em;
}

/*Media-Query*/

@media screen and (max-width:920px){
/*Navbar*/
.ul-btns{
    visibility: hidden;
}

.nav-logo{
    padding-top:1em;
    padding-left: 2em;
}

.right-nav,label{
    position: absolute;
   left:26em;
    bottom:75em;
    width: 12em;
}

label{
    visibility: hidden;
}

/*Main-Body*/

    .main-body{
        background-image: none;
        background-color: gray;
        height:456px;
    }
    
    .container{
        margin-top: 27em;
    
    }
    
    h2{
        padding-left: 1.1em;
    }
    
    p{
        width:80%;
        margin-left: 2em;
    }

    .nav-btn{
        margin-left: 1.7em;
    }

/*Footer*/
.footer-nav{
    display: flex;
    flex-direction: column;
    position: relative;
    left:11em;
    bottom:46em;
    
}

.f-nav-link{
    width: 13em;
    padding-bottom: 9em;
}

.footer-imgs{
    display: flexbox;
    flex-direction: column;
    padding-bottom: 9em;
}

.f-img{
    padding-right: 3em;
}

}

@media  screen and (min-width:1209px) {
    .main-body{
        position: relative;
        left:17em;
        background-size: 13in;
    }
     
    .navbar{
        position: sticky;
        right:7em;
    }
    .right-nav{
        position: relative;
        left: 77em;
    }

    .main-footer{
        position: relative;
        left:26em;
    }
}